DATABASE_URL="postgresql://divineconnectionstreasure_user:UajTRixxqTCDtFdaBSD1xNrT222OeBnT@dpg-d33ba60dl3ps738nsr7g-a/divineconnectionstreasure"
DATABASE_URL_EXTERNAL="postgresql://divineconnectionstreasure_user:UajTRixxqTCDtFdaBSD1xNrT222OeBnT@dpg-d33ba60dl3ps738nsr7g-a.oregon-postgres.render.com/divineconnectionstreasure"
JWT_SECRET="your-super-secret-jwt-key-here"
